body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ccc;
}

table {
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
}

.blue {
    background-color: #0019f9;
}

.white {
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputs {
    margin-top: 20px;
}

.info{
    visibility: hidden;
}


